@using MyFinances.Models
@using MyFinances.Components.Modals

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <p>Nie jesteś zalogowany aby móc przeglądać tę strone.</p>
                    <p>Zaloguj się, aby mieć dostęp.</p>
                </NotAuthorized>
                <Authorizing>
                    <LoadingModal IsLoading="@true" LoadingText="Ładowanie aplikacji"></LoadingModal>
                </Authorizing>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>