@page "/debenturescalculator"

@using MyFinances.Models;
@inject Data.DebentureService DebentureService



<div class="card mx-auto mt-5" style="width: 80%">
	<div class="card-header">
		Kalkulator Obligacji
	</div>
	<div class="card-body" >
		<EditForm Model="@model" OnValidSubmit="CalculateDebentures">

			<DataAnnotationsValidator />
			<ValidationSummary />

			<div class="form-group">
				<label style="margin-bottom:20px;margin-right:5px">TypObligacji:</label>
				<InputSelect id="debentureType" @bind-Value="model.Type" style="height:30px;width:75px">
					@foreach (var DebentureType in Enum.GetValues(typeof(DebentureType)))
					{
						<option value="@DebentureType">@DebentureType</option>
					}
				</InputSelect>

				<div class="form-check-label">
					<InputCheckbox @bind-Value="model.BelkaTax" class="form-check-label" style="height:25px;width:25px" />
					<label class="form-check-label" style="position:fixed;margin-left:7px"> Uwzględnienie podatku od zysków kapitałowych (19%)</label>
				</div>
			</div>

			

			<h5>Opis:</h5>

			<div class="form-group">
				<label>@InformationAboutDebenture()</label>
			</div>

			<h5>Wprowadź informacje:</h5>

			<div class="form-group" style="width:25%">
				<label>Ilość Obligacji</label>
				<InputNumber @bind-Value="model.Amount" class="form-control" />
			</div>

			@switch (model.Type)
			{
				case DebentureType.OTS:
					<div class="form-group" style="width:25%">
						<label>Wysokość rocznego oprocentowania</label>
						<InputNumber @bind-Value="model.OTSPercentage" class="form-control" />
					</div>
					break;
				case DebentureType.DOS:
					<h3>Juz wkrótce...</h3>
					break;
				case DebentureType.TOZ:
					<h3>Juz wkrótce...</h3>
					break;
				case DebentureType.EDO:
					<h3>Juz wkrótce...</h3>
					break;
				case DebentureType.COI:
					<h3>Juz wkrótce...</h3>
					break;
				default:
					break;
			}



			<button class="btn btn-primary" type="submit">Oblicz</button>

		</EditForm>
	</div>

	@if (debenture == null || debenture.DebentureData == null)
	{
	}
	else
	{
		<p>
			<div class="card-footer">
				<div class="row">
					<div class="col">Całkowity koszt obligacji</div>
					<div class="col text-right">@debenture.TotalPrice.ToString("N")</div>
				</div>
			</div>
		</p>
		<table class="table">
			<thead>
				<tr>
					@foreach (var head in debenture.DebentureData.Head)
					{
						<th>@head</th>
					}
				</tr>
			</thead>
			<tbody>
				@foreach (var column in debenture.DebentureData.DebentureColumns)
				{
				<td>
					@foreach (var row in column.Rows)
					{
					<tr>@row</tr>
				}
					</td>
				}
				</tbody>
			</table>
		}

</div>




@code {
	private DebentureModel model = new DebentureModel();
	private Data.Debenture debenture;


	private async Task CalculateDebentures()
	{
		debenture = await DebentureService.GetDebentureAsync(model);
	}
	private string InformationAboutDebenture()
	{
		return DebentureService.GetInformationAboutDebenture(model.Type);
	}
}