@page "/debenturescalculator"

@using MyFinances.Models;



<div class="card mx-auto mt-5" style="width: 50rem;">
	<div class="card-header">
		Kalkulator Obligacji
	</div>
	<div class="card-body">
		<EditForm Model="@model" OnValidSubmit="HandleValueSubmit">

			<DataAnnotationsValidator />
			<ValidationSummary />

			<div class="form-group">
				<label>TypObligacji</label>
				<InputSelect id="debentureType" @bind-Value="model.Type">
					@foreach (var DebentureType in Enum.GetValues(typeof(DebentureType)))
					{
					<option value="@DebentureType">@DebentureType</option>
					}
				</InputSelect>
			</div>

			<div class="form-group">
				<label>Ilość Obligacji</label>
				<InputNumber @bind-Value="model.Amount" class="form-control" />
			</div>

			<button class="btn btn-primary" type="submit" >Oblicz</button>

		</EditForm>
	</div>

	<p hidden="@HideComponent">
		<div class="card-footer">
			<div class="row">
				<div class="col">Całkowity koszt obligacji</div>
				<div class="col text-right">@calculatedDebenture.TotalAmount.ToString("N")</div>
			</div>
		</div>
	</p>

</div>




@code {
	private DebenturesModel model = new DebenturesModel();
	private Data.CalculatedDebenture calculatedDebenture = new Data.CalculatedDebenture();
	private bool HideComponent   {get;set;} = true;


	private void HandleValueSubmit()
	{
		calculatedDebenture.Calculate(model);
		HideComponent = false;
	}
}