@page "/loancalculator"

@using MyFinances.Models



<div class="card mx-auto mt-5" style="width: 50rem;">
	<div class="card-header">
		Kalkulator Kredytu
	</div>
	<div class="card-body">
		<EditForm Model="@model" OnValidSubmit="HandleValueSubmit">

			<DataAnnotationsValidator />
			<ValidationSummary />

			<div class="row justify-content-center">

				<div class="form-group" style="margin: 15px">
					<label>Kwota Kredytu</label>
					<InputNumber @bind-Value="model.Amount" class="form-control" />
				</div>

				<div class="form-group" style="margin: 15px">
					<label>Czas trwania w miesiącach</label>
					<InputNumber @bind-Value="model.Duration" class="form-control" />
				</div>

				<div class="form-group" style="margin: 15px">
					<label>Oprocentowanie</label>
					<InputNumber @bind-Value="model.Percentage" class="form-control" />
				</div>

			</div>
			<button type="submit" class="btn btn-primary btn-center">Oblicz</button>
		</EditForm>
	</div>

	<p hidden="@HideComponent">
		<div class="card-footer">
			<div class="row">
				<div class="col">Wysokość raty kredytu</div>
				<div class="col text-right">@calculatedLoan.Instalment.ToString("N")</div>
				<div class="col">Całkowity koszt kredytu</div>
				<div class="col text-right">@calculatedLoan.TotalAmount.ToString("N")</div>
			</div>
		</div>

		<table class="table">
			<thead>
				<tr>
					<th>Miesiąc</th>
					<th>Wysokość Raty</th>
					<th>Kwota Odsetek</th>
					<th>Kapitał do Spłaty</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var row in calculatedLoan.RepaymentSchedule)
				{
				<tr>
					<td>@row.Month</td>
					<td>@row.Loan</td>
					<td>@row.Interest</td>
					<td>@row.Capital</td>
				</tr>
				}
			</tbody>
		</table>
	</p>
</div>




@code {
	private LoanModel model = new LoanModel();
	private Data.CalculatedLoan calculatedLoan = new Data.CalculatedLoan();
	private bool HideComponent   {get;set;} = true;

	private void HandleValueSubmit()
	{
		calculatedLoan.Calculate(model);
		HideComponent = false;
	}
}